body {
  max-width: 1440px;
  margin: 0 auto;
}


.header {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 94%;
}

.menu {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.menu-ru {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-right: 20px;
}

.logo {
  margin: 24px 50px 0 0;
}

.menu__item {
  position: relative;
  font: 15px/18px montserratsemibold, arial, helvetica, sans-serif;
  text-decoration: none;
  margin-right: 46px;
  color: #000;
}

.menu__item:last-child {
  display: flex;
  margin-right: 0;
}

.menu-ru__item {
  position: relative;
  font: 600 15px/18px montserrat, arial, helvetica, sans-serif;
  text-decoration: none;
  margin-right: 30px;
  color: #000;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #e51937;
  animation: main 1s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item::after {
  position: absolute;
  right: 0;
  top: 22px;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #e51937;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu-ru__item:hover {
  opacity: 0.5;
}

.menu-ru__item::after {
  display: block;
  position: absolute;
  left: 0;
  top: 20px;
  content: '';
  width: 0;
  height: 3px;
  background: #e51937;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu-ru__item:hover::after {
  opacity: 1;
  width: 100%;
}

.main {
  background: no-repeat center top url(img/tesla-wordmark-big.svg);
}


.main__title {
  font: 90px/90px montserratsemibold, arial, helvetica, sans-serif;
  display: flex;
  justify-content: center;
  margin: 65px 0 0 0;
  color: #000;
  border: dashed 1px red;
}

.main__subtitle {
  font: 500 15px/18px montserrat, arial, helvetica, sans-serif;
  margin-top: 0;
  display: flex;
  justify-content: center;
  color: #000;
  border: dashed 1px red;
}

.main__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

.main__row {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 56%;
}

.main__column {
  display: flex;
}

.main-speed__column {
  display: flex;
  margin-right: 70px;
  height: 60px;
  border: dashed 1px red;
}

.speed {
  background: no-repeat left 35px url(img/speed.svg);
}

.main-speed__title {
  margin: 21px 10px 0 60px;
  font: 35px/43px montserratsemibold, arial, helvetica, sans-serif;
}

.main-speed__text {
  margin-top: 33px;
  font: 600 20px/24px montserrat, sans-serif;
}

.main-speed__item {
  margin: 0 0 0 60px;
  font: 12px/15px montserratregular, arial, helvetica, sans-serif;
}

.main-distance__column {
  display: flex;
  border: dashed 1px red;
}

.distance {
  background: no-repeat left 25px url(img/road.svg);
}

.main-distance__title {
  margin-top: 20px;
  margin-right: 9px;
  margin-left: 50px;
  font: 600 35px/41px montserrat, arial, helvetica, sans-serif;
}

.main-distance__text {
  margin-top: 34px;
  font: 600 20px/24px montserrat, arial, helvetica, sans-serif;
}

.main-distance__item {
  margin-top: 0;
  margin-left: 55px;
  font: 12px/15px montserratregular, arial, helvetica, sans-serif;
}

.main__button {
  display: flex;
  background: no-repeat left 40px url(img/steering-wheel.svg);
  border: dashed 1px red;
}

.main-text__button {
  width: max-content;
  margin-top: 41px;
  margin-right: 40px;
  margin-left: 30px;
  text-decoration: none;
  color: #000;
  font: 700 13px/15px montserrat, arial, helvetica, sans-serif;
}

.main-buy__button {
  margin-top: 30px;
  font: 700 13px/15px montserrat, arial, helvetica, sans-serif;
  color: #e51937;
  padding: 10px 45px;
  height: fit-content;
  text-decoration: none;
  outline: solid 2px #e51937;
}

.dropdown {
  width: 20px;
  height: 20px;
  border-top: 3px solid #e51937;
  border-right: 3px solid #e51937;
  transform: rotate(135deg);
  margin-left: 710px;
  margin-top: 15px;
  margin-bottom: 40px;
}


.main2 {
  display: flex;
  justify-content: space-between;
  background: no-repeat left 60px url(img/2013-tesla-model-s-cockpit.svg);
}

.main2__title {
  margin-top: 60px;
  margin-left: 80px;
  font: 600 70px/85px montserrat, arial, helvetica, sans-serif;
  color: #e51937;
}

.block {
  width: 440px;
  height: 900px;
  right: 1000px;
  top: 900px;
  background: #e51937;
}

.block__title {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 50px;
  font: 600 30px/36px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.block__subtitle {
  margin-left: 50px;
  margin-right: 70px;
  font: 500 15px/18px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.main2__functions {
  margin-bottom: 170px;
}

.display {
  background: no-repeat left 15px url(img/mobile.svg);
  height: 72px;
  margin: 55px 0 30px 50px;
}

.block__display {
  display: flex;
}

.display__title {
  margin-top: 0;
  margin-right: 10px;
  margin-left: 57px;
  font: 600 35px/43px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.display__subtitle {
  margin-top: 15px;
  font: 600 20px/24px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.display__item{
  margin-left: 57px;
  margin-top: 0;
  font: 400 12px/15px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.wifi {
  display: run-in;
  align-items: flex-start;
  background: no-repeat left 20px url(img/wifi.svg);
  margin: 0 0 30px 50px;
}

.wifi__title {
  width: 171px;
  margin-bottom: 0;
  margin-left: 60px;
  margin-top: 10px;
  font: 600 20px/18px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.wifi__item {
  width: 171px;
  margin-top: 5px;
  margin-left: 60px;
  font: 400 12px/15px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.volume {
  margin: 0 0 0 50px;
  background: no-repeat left url(img/bag.svg);
}

.block-volume {
  display: flex;
  margin-left: 62px;
}

.volume__title {
  margin-top: 0;
  margin-right: 10px;
  font: 600 35px/40px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.volume__subtitle {
  margin-top: 15px;
  font: 600 20px/24px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.volume__item{
  width: 171px;
  margin-left: 62px;
  margin-top: 0px;
  font: 400 12px/15px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.section-button {
  display: flex;
  width: 78%;
  margin: auto;
  background: no-repeat left url(img/more.svg);
  color: #fff;
}

.text__button {
  margin-top: 10px;
  margin-right: 35px;
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
  font: 700 13px/15px montserrat, arial, helvetica, sans-serif;
}

.buy__button {
  font: 700 13px/15px montserrat, arial, helvetica, sans-serif;
  color: #fff;
  padding: 10px 40px;
  height: fit-content;
  text-decoration: none;
  outline: solid 2px #fff;
}

.footer {
  display: flex;
}

.footer__left {
  margin-top: 0;
  width: 440px;
  height: 900px;
  left: 0px;
  top: 1800px;
  background: #e51937;
}

.footer__title {
  width: 400px;
  margin: 50px 70px 0 54px;
  font: 600 30px/37px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.footer__subtitle {
  margin: 15px 70px 0 50px;
  font: 500 15px/18px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.protection {
  margin-top: 55px;
  margin-bottom: 25px;
  margin-left: 56px;
  font: 600 30px/37px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.location  {
  margin-left: 56px;
  font: 700 17px/21px montserrat, arial, helvetica, sans-serif;
  color: #fff;
}

.rack {
  font: 700 10px/12px montserrat, arial, helvetica, sans-serif;
  color: #fff;
  opacity: 0.7;
}

.quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 21px;
  margin-top: 0;
  margin-bottom: 16px;
  padding-right: 90px;
}

.five {
  margin-top: 105px;
  margin-left: 66px;
  margin-bottom: 60px;
  background: no-repeat left url(img/done.png);
  color: #fff;
}

.five__title {
  margin-left: 86px;
  margin-bottom: 0;
  margin-top: 0;
  font: 600 50px/55px montserrat, arial, helvetica, sans-serif;
}

.five__subtitle {
  margin-left: 85px;
  margin-top: 0;
  font: 600 25px/30px montserrat, arial, helvetica, sans-serif;
}

.footer__right {
  display: flex;
  position: relative;
}

.footer__text {
  white-space: nowrap;
  font: 600 190px/244px montserrat, arial, helvetica, sans-serif;
  margin-top: 100px;
  margin-left: 190px;
  color: #e51937;
  opacity: 0.1;
}

.footer__icon {
  position: absolute;
  margin-top: 223px;
  margin-left: -100px;
}

.footer-button {
  display: flex;
  justify-content: space-between;
  width: 82%;
  margin: auto;
  background: no-repeat left url(img/more.svg);
}

.more__button {
  margin-right: 35px;
  margin-top: 10px;
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
  font: 700 13px/15px montserrat, arial, helvetica, sans-serif;
}

.order__button {
  font: 700 13px/15px montserrat, arial, helvetica, sans-serif;
  color: #fff;
  padding: 10px 40px;
  height: fit-content;
  text-decoration: none;
  outline: solid 2px #fff;
}

.security {
  display: flex;
  position: absolute;
  font: 600 17px/15px montserrat, arial, helvetica, sans-serif;
  width: 170px;
}

.item1 {
  margin-top: 221px;
  margin-left: 164px;
}

.item2 {
  margin-top: 175px;
  margin-left: 442px;
}

.item3 {
  align-items: flex-end;
  width: 250px;
  margin-top: 591px;
  margin-left: 498px;
}

@media screen and (min-width: 1201px) and (max-width: 1439px) {
  .wrapper {
    width: 100vw;
  }

  .menu__item {
    margin-right: 36px;
    font: 600 13px/18px montserrat, arial, helvetica, sans-serif;
  }

  .menu-ru__item {
    margin-right: 25px;
    font: 600 13px/18px montserrat, arial, helvetica, sans-serif;
  }

  .main {
    background: no-repeat center 15px url(img/1024/background.svg);
  }

  .tesla-main {
    height: 350px;
  }

  .main__row {
    width: 60%;
    margin: auto;
  }

  .main-speed__column {
    display: flex;
    margin-right: 40px;
    border: dashed 1px red;
  }

  .dropdown {
    margin-top: 45px;
    margin-bottom: 100px;
    margin-left: 50%;
  }

  .main2 {
    width: 100vw;
    background: no-repeat left url(img/ipad/salon.svg);
    background-size: 1100px 800px;
  }

  .block {
    width: 410px;
    height: 700px;
  }

  .block__title {
    font: 600 25px/36px montserrat, arial, helvetica, sans-serif;
  }

  .block__subtitle {
    margin-right: 20px;
    font-size: 13px;
  }

  .main2__functions {
    margin-bottom: 60px;
  }

  .display {
    margin-top: 45px;
  }

  .section-button,
  .footer-button {
    width: 86%;
  }

  .footer__left {
    width: 440px;
  }

  .footer__title {
    margin: 50px 70px 0 64px;
    font-size: 25px;
  }

  .footer__subtitle {
    margin: 15px 60px 0 60px;
    font-size: 15px;
  }

  .protection,
  .location,
  .five {
    margin-left: 60px;
  }

  .protection {
    font-size: 27px;
  }

  .quality {
    padding-right: 80px;
  }

  .five {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .five__title {
    background-size: 60px;
    font-size: 45px;
  }

  .footer-button {
    width: 90%;
  }

  .more__button,
  .order__button {
    font-size: 14px;
  }

  .footer__icon {
    max-width: 860px;
    margin-top: 250px;
  }

  .security {
    width: 15vw;
  }

  .item1 {
    font-size: 17px;
    margin-top: 205px;
    margin-left: 115px;
  }

  .item2 {
    font-size: 17px;
    margin-top: 190px;
    margin-left: 343px;
  }

  .item3 {
    font-size: 17px;
    margin-top: 550px;
    margin-left: 390px
  }

  .footer__text {
    font-size: 12vw;
    margin-left: 135px;
    margin-top: 140px;
  }
}

@media screen and (min-width: 941px) and (max-width: 1200px) {
  .wrapper {
    width: 100vw;
  }

  .menu__item {
    margin-right: 36px;
    font: 600 13px/18px montserrat, arial, helvetica, sans-serif;
  }

  .menu-ru__item {
    margin-right: 25px;
    font: 600 13px/18px montserrat, arial, helvetica, sans-serif;
  }

  .main {
    background: no-repeat center 15px url(img/1024/background.svg);
  }

  .tesla-main {
    height: 350px;
  }

  .main__row {
    width: 75%;
    margin: auto;
  }

  .main-speed__column {
    display: flex;
    margin-right: 40px;
    border: dashed 1px red;
  }

  .dropdown {
    margin-top: 45px;
    margin-bottom: 100px;
    margin-left: 50%;
  }

  .main2 {
    width: 100vw;
    background: no-repeat left 60px url(img/ipad/salon.svg);
    background-size: cover;
  }

  .block {
    width: 410px;
    height: 700px;
  }

  .block__title {
    font: 600 25px/36px montserrat, arial, helvetica, sans-serif;
  }

  .block__subtitle {
    margin-right: 20px;
    font-size: 13px;
  }

  .main2__functions {
    margin-bottom: 60px;
  }

  .display {
    margin-top: 45px;
  }

  .section-button,
  .footer-button {
    width: 86%;
  }

  .footer__left {
    width: 440px;
  }

  .footer__title {
    margin: 50px 70px 0 64px;
    font-size: 25px;
  }

  .footer__subtitle {
    margin: 15px 60px 0 60px;
    font-size: 15px;
  }

  .protection,
  .location,
  .five {
    margin-left: 60px;
  }

  .protection {
    font-size: 27px;
  }

  .quality {
    padding-right: 80px;
  }

  .five {
    margin-top: 60px;
    margin-bottom: 50px;
  }

  .five__title {
    background-size: 60px;
    font-size: 45px;
  }

  .footer-button {
    width: 90%;
  }

  .more__button,
  .order__button {
    font-size: 14px;
  }

  .footer__icon {
    max-width: 600px;
    margin-top: 350px;
  }

  .security {
    width: 15vw;
  }

  .item1 {
    font-size: 15px;
    margin-top: 230px;
    margin-left: 48px;
  }

  .item2 {
    font-size: 15px;
    margin-top: 265px;
    margin-left: 208px;
  }

  .item3 {
    font-size: 15px;
    margin-top: 555px;
    margin-left: 240px
  }

  .footer__text {
    font-size: 110px;
    margin-left: 30px;
    margin-top: 240px;
  }
}

@media screen and (min-width: 376px) and (max-width: 940px) {
  .wrapper {
    width: 940px;
  }

  .menu__line {
    display: none;
  }

  .menu,
  .menu-ru__item {
    display: none;
  }

  .header {
    width: 96%;
    background: no-repeat 97% 40px url(img/ipad/menu.svg);
  }

  .tesla-main {
    margin-bottom: 20px;
    width: 703px;
    height: 328px;
  }

  .main {
    background: no-repeat center top 80px url(img/ipad/background.svg);
  }

  .main__title {
    margin-top: 90px;
    line-height: 85px;
  }

  .main__column{
    display: flex;
    justify-content: space-between;
    margin-bottom: 37px;
  }
  .tesla__title {
    margin-bottom: 85px;
  }

  .main__row {
    display: block;
    width: 63%;
    margin: auto;
  }

  .speed{
    background: no-repeat left 20px url(img/ipad/speed.svg);
  }

  .distance {
    background: no-repeat left 15px url(img/ipad/road.svg);
  }

  .main-speed__column {
    height: 60px;
    margin-right: 0px;
  }

  .main-distance__column {
    height: 60px;
  }

  .main-speed__title {
    margin: 5px 0px 0 85px;
    font: 600 50px/61px montserrat, arial, helvetica, sans-serif;
  }

  .main-distance__title {
    margin: 2px 0 0 60px;
    font: 600 50px/61px montserrat, arial, helvetica, sans-serif;
  }

  .main-speed__text,
  .main-distance__text {
    margin: 25px 10px 0 10px;
    font: 600 20px/24px montserrat, arial, helvetica, sans-serif;
  }

  .main-speed__item {
    margin-left: 85px;
    font: 400 12px/15px montserrat, arial, helvetica, sans-serif;
  }

  .main-distance__item {
    margin-bottom: 10;
    margin-left: 60px;
    font: 400 12px/15px montserrat, arial, helvetica, sans-serif;
  }

  .main__button {
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: auto;
    background: no-repeat left 26px url(img/ipad/wheel.svg);
  }

  .main-text__button {
    margin-left: 45px;
    margin-top: 35px;
    font: 700 16px/20px montserrat, arial, helvetica, sans-serif;
  }

  .main-buy__button {
    font: 700 13px/16px montserrat, arial, helvetica, sans-serif;
    margin-top: 15px;
    color: #fff;
    padding: 20px 73px;
    outline: solid 2px #fff;
    background: #e51937;
  }

  .dropdown  {
    margin-top: 50px;
    margin-left: 49%;
    margin-bottom: 65px;
  }

  .main2{
    background: no-repeat left 0 url(img/ipad/salon.png);
    background-size: 940px;
    display: flex;
    flex-direction: column;
    width: 940px;
  }

  .main2__title {
    margin-top: 10px;
    margin-left: 435px;
    font: 600 70px/85px montserrat, arial, helvetica, sans-serif;
  }

  .block {
    margin-top: 348px;
    width: 940px;
    height: 487px;
  }

  .main2__functions {
    display: flex;
    margin-bottom: 50px;
  }

  .block__title {
    margin-top: 60px;
    margin-left: 35px;
  }

  .block__subtitle {
    margin-top: 20px;
    margin-left: 35px;
    padding-right: 100px;
  }

  .block__functions {
    margin-right: 80px;
  }

  .display {
    margin-bottom: 15px;
  }

  .display__title {
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 55px;
  }

  .display__subtitle {
    margin-top: 18px;
  }

  .wifi {
    background: no-repeat left 15px url(img/wifi.svg);
    margin-left: 45px;
    margin-bottom: 22px;
  }

  .wifi__title,
  .wifi__item {
    margin-left: 65px;
  }

  .volume {
    margin-left: 45px;
  }

  .section-button {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    width: 60%;
    background: no-repeat left url(img/ipad/more.svg);
  }

  .text__button {
    font: 700 16px/20px montserrat, arial, helvetica, sans-serif;
    margin-left: 45px;
    margin-top: 15px;
  }

  .buy__button {
    font: 700 16px/20px montserrat, arial, helvetica, sans-serif;
    padding: 15px 65px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .footer__left{
    order: 2;
    width: 940px;
    height: 487px;
    margin-top: 40px;
  }

  .footer__item {
    width: 350px;
  }

  .footer__title,
  .footer__subtitle {
    margin-left: 34px;
    width: 330px;
  }

  .footer__title {
    margin-top: 63px;
  }

  .footer__subtitle {
    margin-top: 10px;
  }

  .footer__info {
    display: flex;
  }

  .protection {
    margin-top: 63px;
    margin-left: 72px;
  }

  .location {
    margin-top: 27px;
    margin-left: 72px;
  }

  .quality {
    padding-right: 40px;
  }

  .front {
    margin-right: 60px;
  }

  .footer-button {
    display: flex;
    justify-content: space-between;
    background: no-repeat left url(img/ipad/more.svg);
    margin-top: 58px;
    width: 60%;
  }

  .more__button {
    margin-top: 15px;
    margin-left: 45px;
    font: 700 16px/20px montserrat, arial, helvetica, sans-serif;
  }

  .order__button {
    font: 700 16px/20px montserrat, arial, helvetica, sans-serif;
    padding: 15px 65px;
  }

  .footer__right {
    order: 1;
    background: no-repeat 0 110px url(img/ipad/ipadcar.svg);
    width: 940px;
    height: 500px;
  }

  .footer__text {
    z-index: -1;
    font: 600 148px/180px montserrat, arial, helvetica, sans-serif;
    margin-top: 40px;
    margin-left: 80px;
  }

  .item1 {
    margin-top: 115px;
    margin-left: 173px;
  }

  .item2 {
    margin-top: 83px;
    margin-left: 372px;
  }

  .item3 {
    margin-top: 365px;
    margin-left: 412px;
  }

  .security {
    font: 600 15px/13px montserrat, arial, helvetica, sans-serif;
  }

  .security-1,
  .security-2,
  .security-3 {
    width: 130px;
  }

  .security-3 {
    margin-top: 58px;
    margin-left: 10px;
    width: 180px;
  }

  .line__item1 {
    height: 201px;
  }

  .line__item2 {
    height: 94px;
  }

  .line__item3 {
    height: 87px;
  }

  .five,
  .footer__icon {
    display: none;
  }
}

@media (max-width: 375px) {
  .wrapper {
    width: 375px;
  }

  .header {
    width: 100%;
  }

  .logo {
    margin-top: 5px;
  }

  .logo__icon {
    width: 138px;
    height: 42px;
  }

  .menu,
  .menu-ru__item {
    display: none;
  }

  .menu-ru {
    margin-top: 20px;
  }

  .menu__line {
    margin-bottom: 15px;
  }

  .main {
    background: no-repeat center 80px url(img/mobile/background.svg);
  }

  .main__title {
    margin-top: 20px;
    font: 600 50px/61px montserrat, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    font: 500 10px/12px montserrat, arial, helvetica, sans-serif;
  }

  .tesla-main {
    margin-top: 30px;
    width: 357px;
    height: 166px;
  }

  .main__row {
    width: 85%;
    margin: auto;
    display: block;
  }

  .main__icon {
    margin-bottom: 7px;
  }

  .main__column {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 43px;
  }

  .speed{
    background: no-repeat left 30px url(img/mobile/speed.svg);
  }

  .main-speed__column {
    margin-right: 0px;
    height: 55px;
  }

  .main-speed__title {
    margin: 23px 0 0 50px;
    font: 600 27px/33px montserrat, arial, helvetica, sans-serif;
  }

  .main-distance__title {
    font: 600 27px/33px montserrat, arial, helvetica, sans-serif;
    margin-left: 35px;
    margin-top: 25px;
    margin-right: 5px;
  }

  .main-speed__text,
  .main-distance__text {
    margin-top: 35px;
    margin-left: 5px;
    margin-right: 5px;
    font: 600 15px/18px montserrat, arial, helvetica, sans-serif;
  }

  .main-speed__item {
    margin-left: 50px;
    font: 400 10px/12px montserrat, arial, helvetica, sans-serif;
  }

  .main-distance__item {
    margin-bottom: 0;
    margin-left: 38px;
    font: 400 10px/12px montserrat, arial, helvetica, sans-serif;
  }

  .distance {
    background: no-repeat left 30px url(img/mobile/road.svg);
  }

  .main__button {
    background: no-repeat left url(img/mobile/wheel.svg);
    width: 95%;
    margin: auto;
    justify-content: space-between;
  }

  .main-text__button {
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 30px;
  }

  .main-buy__button {
    margin-top: 0;
    padding: 10px 43px;
    color: #fff;
    outline: solid 2px #fff;
    background: #e51937;
  }

  .dropdown {
    margin-left: 178px;
    margin-top: 25px;
  }

  .main2 {
    display: block;
    background: no-repeat left -40px url(img/mobile/salon.svg);
  }

  .main2__title {
    margin: auto;
    font-size: 0;
  }

  .block {
    margin-top: 202px;
    width: 375px;
    height: 304px;
  }

  .block__title {
    padding-top: 18px;
    margin-left: 28px;
  }

  .block__subtitle {
    width: 340px;
    margin-left: 29px;
    margin-top: 10px;
  }

  .footer__right {
    background: no-repeat center 75px url(img/mobile/mobcar.svg);
    width: 375px;
    height: 253px;
  }

  .footer__text {
    z-index: -1;
    margin-top: 40px;
    margin-left: 0;
    font: 600 91px/100px montserrat, arial, helvetica, sans-serif;
  }

  .security {
    margin-top: 0;
    margin-left: 0;
  }

  .security {
    font: 600 7px/7px montserrat, arial, helvetica, sans-serif;
  }

  .security-1,
  .security-2 {
    width: 60px;
    margin-top: 75px;
  }

  .line__item1 {
    margin-top: 75px;
    margin-left: 97px;
    height: 97px;
  }

  .line__item2 {
    margin-top: 60px;
    margin-left: 193px;
    height: 46px;
  }

  .line__item3 {
    margin-top: 203px;
    margin-left: 213px;
    height: 41px;
  }

  .footer__left{
    order: 2;
    margin-top: 40px;
    width: 375px;
    height: 303px;
  }

  .footer__title,
  .footer__subtitle {
    width: 320px;
    margin-left: 32px;
    margin-right: 17px;
    margin-top: 15px;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

  .block__functions,
  .section-button,
  .info,
  .footer__icon,
  .footer-button {
    display: none;
  }
}
